/* styles.css */

body {
    background-color: #222;
    font-family: Arial, sans-serif;
    color: #fff;
}

.report-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.table th {
    background-color: #222;
}

/* Estilos para el contenedor principal */
.sum-container {
    display: flex;
    justify-content: space-between; /* Distribuir elementos en los extremos */
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    text-align: center; /* Centrar el contenido en dispositivos grandes */
  }
  
  /* Estilos para las sumas individuales */
  .individual-sum {
    flex: 1; /* Ocupa el espacio disponible en la izquierda */
    text-align: left; /* Alineación izquierda */
    padding-left: 10px; /* Espaciado a la izquierda */
  }
  
  .individual-sum p {
    margin: 0;
    font-size: 16px;
  }
  
  /* Estilos para la suma total */
  .total-sum {
    flex: 1; /* Ocupa el espacio disponible en la derecha */
    text-align: right; /* Alineación derecha */
    padding-right: 10px; /* Espaciado a la derecha */
  }
  
  .total-sum p {
    margin: 0;
    font-size: 16px;
    font-weight: bold; /* Texto en negrita para resaltar el total general */
    color: #FFD700; /* Color dorado para resaltar el total general */
  }
  
  /* Estilos para dispositivos móviles (pantallas de hasta 768px de ancho) */
  @media (max-width: 768px) {
    .sum-container {
      flex-direction: column; /* Cambiar a disposición de columna en dispositivos móviles */
    }
  
    .total-sum {
      text-align: left; /* Alineación izquierda en dispositivos móviles */
      padding-left: 10px; /* Espaciado a la izquierda en dispositivos móviles */
      padding-right: 0; /* Eliminar espaciado a la derecha en dispositivos móviles */
    }
  }
  

/* Estilos para el filtro por mes y el botón */
/* Estilos para el contenedor del filtro */
.filtro-containermes {
    background-color: #000; /* Fondo negro */
    text-align: center; /* Centrar contenido */
    padding: 10px; /* Espaciado interno */
    margin: 10px auto; /* Margen exterior */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Estilos para la etiqueta del filtro */
.filtro-containermes label {
    font-weight: bold; /* Texto en negrita */
    display: block; /* Mostrar en una línea separada */
    margin-bottom: 5px; /* Espacio inferior entre la etiqueta y el select */
}

/* Estilos para el select del filtro */
.filtro-select {
    padding: 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #333; /* Fondo del select */
    color: #fff; /* Color del texto en el select */
    margin-bottom: 10px; /* Espacio inferior entre el select y el botón */
    width: 50%; /* Ancho del 100% del contenedor */
}

/* Estilos para el botón de filtrar */
.filtro-button {
    padding: 15px; /* Espaciado interno */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición al pasar el mouse */
    text-align: center; /* Centrar texto */
}

/* Estilos para el botón al pasar el mouse */
.filtro-button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}
/* Estilos CSS para el modo responsive en pantallas de teléfono */
@media (max-width: 768px) {
    /* Ajustar la altura de la tabla al 100% del alto de la pantalla */
    .table-container {
      height: auto; /* 100% del alto de la pantalla */
      overflow-y: auto; /* Agregar una barra de desplazamiento vertical si es necesario */
    }
    .table th:nth-child(7) {
        width: 1px; /* Ajusta el ancho según tus preferencias */
        /* Otros estilos que desees aplicar al encabezado "Shipping" */
      }
  }
  /* Estilos para el gráfico de barra */
.bar-chart {
    width: 300px; /* Ancho del gráfico de barra */
    height: 30px; /* Altura del gráfico de barra */
    background-color: #ccc; /* Color de fondo del gráfico de barra */
    border-radius: 5px; /* Bordes redondeados */
    margin: 20px auto; /* Centrar en la página */
  }
  
  .bar {
    height: 100%; /* Altura de la barra (100% de la altura del contenedor) */
    background-color: #007bff; /* Color de la barra (azul en este ejemplo) */
    color: #fff; /* Color del texto en la barra */
    text-align: center; /* Alineación del texto en el centro de la barra */
    line-height: 30px; /* Alineación vertical del texto */
    border-radius: 5px; /* Bordes redondeados en la barra */
  }
  /* Cambiamos el color de fondo del svg y el color de las líneas y etiquetas a blanco */
.white-bg {
    background-color: white;
  }
  
  /* Puedes agregar más estilos si es necesario */
  