
    .xx{
        background-color: #141414;
     }

     /* Define a class for the green dot */

  
.card {
   
    font-family: "Amazon Ember", Arial, sans-serif; /* Utiliza la fuente Amazon Ember o una similar */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: #fff;
    font-weight: bold; /* Hace que la fuente sea más gruesa */
    color: #000; /* Color de fuente negro */
    text-align: center; /* Centra el texto horizontalmente */
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center; /* Centra el texto horizontalmente */
}

.card-description {
    font-size: 14px;
    margin: 5px 0;
    text-align: center; /* Centra el texto horizontalmente */
}

.card-button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    color: #111;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center; /* Centra el texto horizontalmente */
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    display: block; /* Hace que el botón sea un bloque y ocupe todo el ancho */
    margin: 10px auto; /* Centra el botón horizontalmente */
}
/* styles.css */
/* styles.css */

/* Define el estilo de las tarjetas cuando el estado es "aceptado" */
.card-aceptado {
    position: relative; /* Establece la posición relativa para que los elementos secundarios se posicionen en relación con la tarjeta */
}

/* Agrega un fondo semitransparente cuando el estado es "aceptado" */
.card-aceptado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 27, 27, 0.3); /* Cambia el color de fondo a gris transparente */
    z-index: 1; /* Asegura que el fondo esté por encima del contenido de la tarjeta */
}


.card-button:hover {
    background-color: #f4d078;
}
/* Estilos para el título de la página */
h1 {
    color: rgb(0, 0, 0); /* Color de fuente blanco */
    white-space: nowrap; /* Evita el salto de línea del texto */
    overflow: hidden; /* Oculta cualquier desbordamiento de texto */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) si el texto es demasiado largo */
}
/* Estilo para el contenedor de las tarjetas */
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Estilo para cada tarjeta */
.card {
    flex: 0 0 calc(33.3333% - 10px); /* Distribuye las tarjetas en filas de tres con espaciado */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #000;
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 767px) {
    .card {
        flex: 0 0 calc(50% - 10px); /* Distribuye las tarjetas en filas de dos en pantallas más pequeñas */
    }
}

/* Media query para ajustar el diseño en pantallas aún más pequeñas */
@media (max-width: 575px) {
    .card {
        flex: 0 0 100%; /* Distribuye las tarjetas en una sola columna en pantallas muy pequeñas */
    }
}
