/* Estilos del contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Estilos del formulario */
.form-container {
    max-width: 100%;
    width: 360px;
    margin-right: 2%; /* Espacio entre el formulario y la tabla */
}

.boton-form {
    margin-top: 2%;
}

/* Estilos de la tabla */
.custom-table{
margin-top: 0%;
}


.custom-table th,
.custom-table td {
   
    padding: 0.5rem;
    text-align: left;
}

.custom-table th {
    background-color: #000000;
    color: #fff;
}

 .custom-table tr:nth-child(even) {
   color: #fff;
}

.custom-table tr:nth-child(odd) {
   color: #fff;
} 

/* Estilos responsivos */
@media (max-width: 640px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .form-container,
    .custom-table {
        width: 100%;
        margin-right: 0;
    }

    .custom-table {
        margin-left: 0; /* Elimina el espacio a la izquierda de la tabla en dispositivos pequeños */
    }

    .boton-form {
        margin-left: 0; /* Elimina el margen izquierdo del botón en dispositivos pequeños */
        margin-top: 5%; /* Añade margen superior al botón en dispositivos pequeños */
    }
}


/* Estilo para un elemento con clase "xx" */
.xx {
    background-color: #141414;
}
